<p>The AVeriTeC challenge aims to evaluate the ability of systems to verify real-world claims with evidence from the Web.</p>

<p>The AVeriTeC shared task is part of the 8th FEVER Workshop, co-located with <a href="https://2025.aclweb.org/">ACL 2025</a> and will be held in Vienna, Austria in July-August 2025.</p>

<p>The systems in the shared task have to perform the following:</p>
<ul>
<li> Given a claim and its metadata, the systems must retrieve evidence that supports and/or refutes the claim, either from the Web or from the document collection provided.</li>
<li> Using this evidence, label the claim as Supported, Refuted given the evidence, Not Enough Info (if there isn't sufficient evidence to either support or refute it) or Conflicting Evidence/Cherrypicking (if the claim has both supporting and refuting evidence).</li>
<ul>

<p>To learn more about the task and our baseline implementation, read our paper <a href="https://proceedings.neurips.cc/paper_files/paper/2023/hash/cd86a30526cd1aff61d6f89f107634e4-Abstract-Datasets_and_Benchmarks.html">AVERITEC: A Dataset for Real-world Claim Verification with Evidence from the Web</a> and go to the <a href="https://fever.ai/task.html">shared task webpage</a>. </p>

<h4> Key Dates (TBD) </h4>
<ul>
<li> Challenge Launch: Jan 20, 2025 </li>
<li> Training/Dev Data Release: Jan 20, 2025 </li>
<li> Testing Begins: Jan 20, 2025 </li>
<li> Submission Closes: April 15, 2025 </li>
<li> Results Announced: April 22, 2025 </li>
<li> System Descriptions Due for Workshop: May 1, 2025 </li>
<li> Winners Announced: July 31 or August 1, 2025 (ACL)</li>
</ul>
